<nav class="navbar">
  <div class="navbar-brand">Proyecto Escuela</div>
  <ul class="navbar-links">
    <li><a routerLink="/" class="nav-link">Inicio</a></li>
    <li><a routerLink="/alumnos" class="nav-link">Alumnos</a></li>
    <li><a routerLink="/maestros" class="nav-link">Maestros</a></li>
    <li><a routerLink="/materias" class="nav-link">Materias</a></li>
    <li><a routerLink="/asistencias" class="nav-link">Asistencias</a></li>
    <li><a routerLink="/calificaciones" class="nav-link">Calificaciones</a></li>
  </ul>
</nav>
